<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @parking_address.user %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parking_address.address %>
</p>

<p>
  <strong>Building:</strong>
  <%= @parking_address.building %>
</p>

<p>
  <strong>City:</strong>
  <%= @parking_address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @parking_address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @parking_address.country %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @parking_address.postcode %>
</p>

<p>
  <strong>Additionaldetails:</strong>
  <%= @parking_address.additionalDetails %>
</p>

<p>
  <strong>Monthlyrate:</strong>
  <%= @parking_address.monthlyRate %>
</p>

<p>
  <strong>Weeklyrate:</strong>
  <%= @parking_address.weeklyRate %>
</p>

<p>
  <strong>Dailyrate:</strong>
  <%= @parking_address.dailyRate %>
</p>

<p>
  <strong>Hourlyrate:</strong>
  <%= @parking_address.hourlyRate %>
</p>

<p>
  <strong>Xcoordinates:</strong>
  <%= @parking_address.xCoordinates %>
</p>

<p>
  <strong>Ycoordinate:</strong>
  <%= @parking_address.yCoordinate %>
</p>

<p>
  <strong>Approval:</strong>
  <%= @parking_address.approval %>
</p>

<p>
  <strong>Features:</strong>
  <%= @parking_address.features %>
</p>

<p>
  <strong>Status:</strong>
  <%= @parking_address.status %>
</p>

<p>
  <strong>Availablefrom:</strong>
  <%= @parking_address.availableFrom %>
</p>

<%= link_to 'Edit', edit_parking_address_path(@parking_address) %> |
<%= link_to 'Back', parking_addresses_path %>
