<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @car_detail.user %>
</p>

<p>
  <strong>Carregistrationnumber:</strong>
  <%= @car_detail.carRegistrationNumber %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @car_detail.manufacturer %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car_detail.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car_detail.color %>
</p>

<p>
  <strong>Roadtaxnumber:</strong>
  <%= @car_detail.roadTaxNumber %>
</p>

<%= link_to 'Edit', edit_car_detail_path(@car_detail) %> |
<%= link_to 'Back', car_details_path %>
